{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }], // allow .js files, instead of .jsx
    "no-console": 1
  },
  "plugins": ["react", "react-hooks", "jsx-a11y", "import"],
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
