@import '../variables/units.scss';
@import './break-points.scss';

@mixin component-wrapper {
  width: 100%;
  max-width: 1080px;
  padding: $unit * 4 $unit * 4 $unit * 8;
  margin: 0 auto;

  @include mq-from('tablet') {
    padding: $unit * 8;
  }
}

@mixin component-header {
  line-height: 0.7;
  margin-bottom: $unit * 6;
}

@mixin component-inner-wrapper {
  border-radius: $unit;
  min-height: 100px; // TODO: REMOVE THIS
}
