@import '../../../../scss/base.scss';

.todo-item {
  background: $background-dark;
  border-radius: $unit;
  margin-bottom: $unit * 5;

  &:last-child {
    margin-bottom: 0;
  }

  &:not(.todo-item--creation) {
    overflow: hidden;
    animation: expand_down 0.33s ease-in 0s 1 normal;
    @keyframes expand_down {
      from {
        opacity: 0;
        max-height: 0;
      }
      to {
        opacity: 1;
        max-height: 500px;
      }
    }
  }

  &--editable {
    background-color: $grey2;

    .todo-item__form {
      &__name,
      &__description {
        background-color: $white;
        padding: $unit $unit * 2;
      }
    }
  }

  &--creation {
    background-color: $light-grey;
    margin-bottom: $unit * 12;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: $unit * 4;

    &__name,
    &__description {
      border: 1px solid $grey;
      border-radius: $unit;
      background-color: inherit;
      font-size: $font-m;
      margin-bottom: $unit * 2;

      &:focus {
        outline: none;
        border-color: $deep-green;
      }

      &:disabled {
        color: $text-light;
        cursor: not-allowed;
      }

      &::placeholder {
        color: $grey;
      }
    }

    &__name {
      font-family: $font-play-bold;
      font-size: $font-ml;

      &:disabled {
        border: 0;
      }
    }

    &__description {
      font-family: $font-play-regular;
      min-height: $unit * 32;
      max-height: $unit * 40;
      padding: $unit * 2;
      overflow: scroll;
      resize: vertical;

      &:disabled {
        border: 1px solid $grey2;
        font-size: $font-s;
      }

      @include mq-from('mobile') {
        min-height: $unit * 22;
      }

      @include mq-from('tablet') {
        min-height: $unit * 12;
      }
    }

    &__bottom-wrapper {
      display: flex;
      flex-direction: column;

      @include mq-from('tablet') {
        flex-direction: row;
        align-items: center;
      }
    }

    &__buttons-wrapper {
      display: flex;
      margin-left: auto;
      margin-top: $unit * 4;

      @include mq-from('tablet') {
        margin-top: 0;
      }
    }

    &__button {
      border: 0;
      border-radius: $unit;
      font-family: $font-play-bold;
      font-size: $font-s;
      color: $text-light;
      opacity: 0.88;
      padding: $unit * 2 $unit * 4;
      margin-left: $unit * 4;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &:disabled {
        color: $light-grey;
        opacity: 0.35;
        cursor: not-allowed;
      }

      &--submit {
        background-color: $deep-green;
        margin-left: auto;
      }

      &--edit {
        background-color: $grey2;
      }

      &--delete {
        background-color: $dark-red;
      }
    }

    &__created {
      color: $grey;
      font-size: $font-xs;
    }
  }
}
