.app {
  background: lightgray;
  h1 {
    color: darkgreen;
  }
  .image-div {
    width: 200px;
    height: 200px;
    background: url('./assets/images/Wolf_Multi.png') no-repeat center / 100%;
  }
}
