$white: #fff;
$black: #000;

$light-grey: #c3c3d0;
$light-grey2: #e3e3e3;
$grey: #808080;
$grey2: #68686f;

$deep-green: #006400;
$dark-red: #881818;

$background-light: #f2f2ff;
$background-dark: #2a2a2f;

$text-light: #fafafa;
$text-dark: #222222;
