// Font sizes
$font-xxs: 10px;
$font-xs: 12px;
$font-s: 14px;
$font-m: 17px;
$font-ml: 20px;
$font-l: 24px;
$font-xl: 32px;
$font-xxl: 40px;
$font-xxxl: 48px;

// Font families
$font-play-regular: 'PlayRegular', sans-serif;
$font-play-bold: 'PlayBold', sans-serif;
